.footer {
  background-color: transparent;
  padding-bottom: 0;
  margin: 5rem 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  color: white;
  font-weight: bold;
  background-color: #84b62e;
  border-radius: 10px;
  border: 0;
  width: 70px;
  height: 30px;
}

button:hover {
  color: #84b62e;
  background-color: white;
  border: 1px solid #84b62e;
}

button:focus {
  outline: none;
}
