.background-container {
  background-color: black;
  height: 100vmin;
  justify-content: center;
  text-align: center;
  background-image: url('./../../images/background-step2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.strong {
  color: yellow;
}

p {
	margin: 0px 70px;
	color:white;
	text-align: center;
	padding-top: 7%;
	font-size: 3vw;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans';
}

p:nth-child(2) {
  margin: 0px;
}