.carousel {
  width: 83%;
}

.container {
  margin-left: 20%;
}

.h2-responsive {
  color: #bfd732;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow';
	font-size: 2vw;
}

.carousel_title {
  padding: 1vw;
  color: #bfd732;
  text-align: left;
  padding-left: 21vw;
}

.carousel_title h1 {
  margin: 0;
  font-weight: 600;
  font-size: 6vh;
}

.carousel .carousel-indicators li {
  height: 50%;
}
